// ==============================
// COLORS
// ==============================
$primary-color: #4f46e5;
$secondary-color: #6366f1;
$accent-color: #22c55e;
$text-color: #1f2937;
$bg-color: #f9fafb;
$white: #ffffff;
$black: #000000;
$gray: #6b7280;
$orange:#F16213;

// ==============================
// FONT
// ==============================
$font-main: 'Inter', sans-serif;
$font-size-base: 16px;
$font-size-sm: 14px;
$font-size-lg: 20px;
$font-size-xl: 32px;

// ==============================
// SPACING
// ==============================
$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 40px;

// ==============================
// BORDER RADIUS
// ==============================
$radius-sm: 4px;
$radius-md: 8px;
$radius-lg: 16px;

// ==============================
// SHADOWS
// ==============================
$shadow-sm: 0 1px 3px rgba(0, 0, 0, 0.1);
$shadow-md: 0 4px 6px rgba(0, 0, 0, 0.1);
$shadow-lg: 0 10px 15px rgba(0, 0, 0, 0.2);
// ==============================
// FONT SIZES (KENG QILIB)
// ==============================

$font-size-xxs: 10px;
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-base: 16px;
$font-size-md: 18px;
$font-size-lg: 20px;
$font-size-xl: 24px;
$font-size-2xl: 28px;
$font-size-3xl: 32px;
$font-size-4xl: 36px;
$font-size-5xl: 48px;
$font-size-6xl: 64px;
$font-size-7xl: 72px;
$font-size-8xl: 96px;
$font-size-9xl: 128px;
// ==========================
// rem
// ==========================
$rem05:0.5rem;
$rem07:0.7rem;
$rem08:0.8rem;
$rem1:1rem;
$rem15:1.5rem;
$rem18:1.8rem;
$rem2:2rem;
$rem22:2.2rem;
$rem25:2.5rem;
$rem3:3rem;
$rem4:4rem;
$rem5:5rem;
$rem6:6rem;
$rem7:7rem;
$rem8:8rem;
$rem9:9rem;
$rem10:10rem;
$rem11:11rem;
$rem12:12rem;
$rem13:13rem;
$rem14:14rem;
$rem15:15rem;
$rem16:16rem;
